rvl_alias "clock" "dotmatrix_u/mclock";
RVL_ALIAS "clock" "clock"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "ad_cs" SITE "96" ;
LOCATE COMP "ad_din" SITE "98" ;
LOCATE COMP "ad_sclk" SITE "99" ;
LOCATE COMP "devlink0" SITE "131" ;
LOCATE COMP "devlink1" SITE "129" ;
LOCATE COMP "devlink2" SITE "127" ;
LOCATE COMP "devlink3" SITE "125" ;
LOCATE COMP "devlink4" SITE "124" ;
LOCATE COMP "devlink5" SITE "122" ;
LOCATE COMP "devlink6" SITE "123" ;
LOCATE COMP "devlink7" SITE "121" ;
LOCATE COMP "devlink8" SITE "120" ;
LOCATE COMP "devlink9" SITE "119" ;
LOCATE COMP "io1" SITE "108" ;
LOCATE COMP "io2" SITE "103" ;
LOCATE COMP "io3" SITE "110" ;
LOCATE COMP "io4" SITE "104" ;
LOCATE COMP "io5" SITE "109" ;
LOCATE COMP "io6" SITE "107" ;
LOCATE COMP "led1" SITE "44" ;
LOCATE COMP "led2" SITE "45" ;
LOCATE COMP "led_a[0]" SITE "17" ;
LOCATE COMP "led_a[1]" SITE "21" ;
LOCATE COMP "led_a[2]" SITE "22" ;
LOCATE COMP "led_a[3]" SITE "27" ;
LOCATE COMP "led_a[4]" SITE "28" ;
LOCATE COMP "led_a[5]" SITE "29" ;
LOCATE COMP "led_a[6]" SITE "30" ;
LOCATE COMP "led_a[7]" SITE "31" ;
LOCATE COMP "led_k[0]" SITE "38" ;
LOCATE COMP "led_k[1]" SITE "36" ;
LOCATE COMP "led_k[2]" SITE "37" ;
LOCATE COMP "led_k[3]" SITE "43" ;
LOCATE COMP "led_k[4]" SITE "39" ;
LOCATE COMP "led_k[5]" SITE "40" ;
LOCATE COMP "led_k[6]" SITE "35" ;
LOCATE COMP "led_k[7]" SITE "32" ;
LOCATE COMP "mem_sclk" SITE "54" ;
LOCATE COMP "pc_out1" SITE "143" ;
LOCATE COMP "pc_out2" SITE "1" ;
LOCATE COMP "pc_out3" SITE "2" ;
LOCATE COMP "pc_out4" SITE "5" ;
LOCATE COMP "pc_out5" SITE "6" ;
LOCATE COMP "pc_out6" SITE "10" ;
LOCATE COMP "pc_out7" SITE "11" ;
LOCATE COMP "pc_out8" SITE "15" ;
LOCATE COMP "pc_out9" SITE "137" ;
LOCATE COMP "pc_out10" SITE "138" ;
LOCATE COMP "pc_out11" SITE "141" ;
LOCATE COMP "pc_out12" SITE "142" ;
LOCATE COMP "seg_a_en" SITE "94" ;
LOCATE COMP "seg_b_en" SITE "92" ;
LOCATE COMP "seg_rck" SITE "91" ;
LOCATE COMP "seg_sck" SITE "90" ;
LOCATE COMP "seg_si" SITE "93" ;
LOCATE COMP "uart_tx" SITE "88" ;
LOCATE COMP "vga_bl" SITE "74" ;
LOCATE COMP "vga_gr" SITE "77" ;
LOCATE COMP "vga_hsync" SITE "73" ;
LOCATE COMP "vga_rd" SITE "78" ;
LOCATE COMP "vga_vsync" SITE "72" ;
IOBUF PORT "ad_cs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ad_din" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ad_sclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "devlink0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "devlink1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "devlink2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "devlink3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "devlink4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "devlink5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "devlink6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "devlink7" IO_TYPE=LVCMOS33 ;
IOBUF PORT "devlink8" IO_TYPE=LVCMOS33 ;
IOBUF PORT "devlink9" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_a[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_a[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_a[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_a[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_a[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_a[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_a[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_a[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_k[0]" IO_TYPE=LVCMOS33 DRIVE=20 SLEWRATE=SLOW PULLMODE=NONE ;
IOBUF PORT "led_k[1]" IO_TYPE=LVCMOS33 DRIVE=20 SLEWRATE=SLOW PULLMODE=NONE ;
IOBUF PORT "led_k[2]" IO_TYPE=LVCMOS33 DRIVE=20 SLEWRATE=SLOW PULLMODE=NONE ;
IOBUF PORT "led_k[3]" IO_TYPE=LVCMOS33 DRIVE=20 SLEWRATE=SLOW PULLMODE=NONE ;
IOBUF PORT "led_k[4]" IO_TYPE=LVCMOS33 DRIVE=20 SLEWRATE=SLOW PULLMODE=NONE ;
IOBUF PORT "led_k[5]" IO_TYPE=LVCMOS33 DRIVE=20 SLEWRATE=SLOW PULLMODE=NONE ;
IOBUF PORT "led_k[6]" IO_TYPE=LVCMOS33 DRIVE=20 SLEWRATE=SLOW PULLMODE=NONE ;
IOBUF PORT "led_k[7]" IO_TYPE=LVCMOS33 DRIVE=20 SLEWRATE=SLOW PULLMODE=NONE ;
IOBUF PORT "mem_sclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pc_out1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pc_out2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pc_out3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pc_out4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pc_out5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pc_out6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pc_out7" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pc_out8" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pc_out9" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pc_out10" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pc_out11" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pc_out12" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_a_en" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_b_en" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_rck" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_sck" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg_si" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vga_bl" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vga_gr" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vga_hsync" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vga_rd" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vga_vsync" IO_TYPE=LVCMOS33 ;
LOCATE COMP "ad_dout" SITE "100" ;
LOCATE COMP "uart_rx" SITE "87" ;
LOCATE COMP "sw" SITE "101" ;
LOCATE COMP "reset1" SITE "89" ;
LOCATE COMP "reset2" SITE "102" ;
LOCATE COMP "mem_cmd" SITE "55" ;
LOCATE COMP "mem_dat0" SITE "53" ;
LOCATE COMP "mem_dat1" SITE "52" ;
LOCATE COMP "mem_dat2" SITE "57" ;
LOCATE COMP "mem_dat3" SITE "56" ;
LOCATE COMP "clock" SITE "144" ;
IOBUF PORT "ad_dout" IO_TYPE=LVCMOS33 ;
IOBUF PORT "clock" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_cmd" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_dat0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_dat1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_dat2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mem_dat3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "reset1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "reset2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sw" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33 ;
BLOCK JTAGPATHS ;
