BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clock" SITE "208" ;
LOCATE COMP "ddr2_cas_n" SITE "147" ;
LOCATE COMP "ddr2_cke0" SITE "158" ;
LOCATE COMP "ddr2_cke1" SITE "103" ;
LOCATE COMP "ddr2_dm0" SITE "140" ;
LOCATE COMP "ddr2_dm1" SITE "113" ;
LOCATE COMP "ddr2_dm2" SITE "169" ;
LOCATE COMP "ddr2_dm3" SITE "92" ;
LOCATE COMP "ddr2_dq[22]" SITE "174" ;
LOCATE COMP "ddr2_dq[23]" SITE "173" ;
LOCATE COMP "ddr2_dq[24]" SITE "84" ;
LOCATE COMP "ddr2_dq[25]" SITE "83" ;
LOCATE COMP "ddr2_dq[26]" SITE "82" ;
LOCATE COMP "ddr2_dq[27]" SITE "81" ;
LOCATE COMP "ddr2_dq[28]" SITE "88" ;
LOCATE COMP "ddr2_dq[29]" SITE "87" ;
LOCATE COMP "ddr2_dqs0" SITE "142" ;
LOCATE COMP "ddr2_dqs0_n" SITE "139" ;
LOCATE COMP "ddr2_dqs1" SITE "114" ;
LOCATE COMP "ddr2_dqs1_n" SITE "112" ;
LOCATE COMP "ddr2_dqs2" SITE "170" ;
LOCATE COMP "ddr2_dqs2_n" SITE "168" ;
LOCATE COMP "ddr2_dqs3" SITE "91" ;
LOCATE COMP "ddr2_dqs3_n" SITE "93" ;
LOCATE COMP "ddr2_ras_n" SITE "167" ;
LOCATE COMP "ddr2_s0_n" SITE "164" ;
LOCATE COMP "ddr2_s1_n" SITE "149" ;
LOCATE COMP "ddr2_we_n" SITE "148" ;
LOCATE COMP "devlink0" SITE "183" ;
LOCATE COMP "devlink1" SITE "184" ;
LOCATE COMP "devlink2" SITE "185" ;
LOCATE COMP "devlink3" SITE "188" ;
LOCATE COMP "devlink4" SITE "189" ;
LOCATE COMP "devlink5" SITE "193" ;
LOCATE COMP "devlink6" SITE "192" ;
LOCATE COMP "devlink7" SITE "194" ;
LOCATE COMP "devlink8" SITE "195" ;
LOCATE COMP "devlink9" SITE "196" ;
LOCATE COMP "eeprom_si" SITE "20" ;
LOCATE COMP "eth_col" SITE "52" ;
LOCATE COMP "eth_crs" SITE "46" ;
LOCATE COMP "eth_mdc" SITE "47" ;
LOCATE COMP "eth_mdio" SITE "45" ;
LOCATE COMP "eth_rx_clk" SITE "32" ;
LOCATE COMP "eth_rx_dv" SITE "39" ;
LOCATE COMP "eth_rx_er" SITE "36" ;
LOCATE COMP "eth_rxd[0]" SITE "40" ;
LOCATE COMP "eth_rxd[1]" SITE "41" ;
LOCATE COMP "eth_rxd[2]" SITE "42" ;
LOCATE COMP "eth_rxd[3]" SITE "43" ;
LOCATE COMP "eth_tx_clk" SITE "30" ;
LOCATE COMP "eth_tx_en" SITE "44" ;
LOCATE COMP "eth_tx_er" SITE "51" ;
LOCATE COMP "reset" SITE "207" ;
LOCATE COMP "ddr2_a[0]" SITE "66" ;
LOCATE COMP "ddr2_a[1]" SITE "63" ;
LOCATE COMP "ddr2_a[2]" SITE "67" ;
LOCATE COMP "ddr2_a[3]" SITE "64" ;
LOCATE COMP "ddr2_a[4]" SITE "68" ;
LOCATE COMP "ddr2_a[5]" SITE "69" ;
LOCATE COMP "ddr2_a[6]" SITE "75" ;
LOCATE COMP "ddr2_a[7]" SITE "77" ;
LOCATE COMP "ddr2_a[8]" SITE "72" ;
LOCATE COMP "ddr2_a[9]" SITE "73" ;
LOCATE COMP "ddr2_a[10]" SITE "60" ;
LOCATE COMP "ddr2_a[11]" SITE "55" ;
LOCATE COMP "ddr2_a[12]" SITE "74" ;
LOCATE COMP "ddr2_a[13]" SITE "53" ;
LOCATE COMP "ddr2_ba0" SITE "59" ;
LOCATE COMP "ddr2_ba1" SITE "65" ;
LOCATE COMP "ddr2_ba2" SITE "115" ;
LOCATE COMP "ddr2_ck0" SITE "125" ;
LOCATE COMP "ddr2_ck0_n" SITE "123" ;
LOCATE COMP "ddr2_ck1" SITE "76" ;
LOCATE COMP "ddr2_ck1_n" SITE "78" ;
LOCATE COMP "ddr2_dq[0]" SITE "137" ;
LOCATE COMP "ddr2_dq[1]" SITE "136" ;
LOCATE COMP "ddr2_dq[2]" SITE "135" ;
LOCATE COMP "ddr2_dq[3]" SITE "134" ;
LOCATE COMP "ddr2_dq[4]" SITE "146" ;
LOCATE COMP "ddr2_dq[5]" SITE "145" ;
LOCATE COMP "ddr2_dq[6]" SITE "144" ;
LOCATE COMP "ddr2_dq[7]" SITE "138" ;
LOCATE COMP "ddr2_dq[8]" SITE "122" ;
LOCATE COMP "ddr2_dq[9]" SITE "121" ;
LOCATE COMP "ddr2_dq[10]" SITE "111" ;
LOCATE COMP "ddr2_dq[11]" SITE "110" ;
LOCATE COMP "ddr2_dq[12]" SITE "124" ;
LOCATE COMP "ddr2_dq[13]" SITE "120" ;
LOCATE COMP "ddr2_dq[14]" SITE "118" ;
LOCATE COMP "ddr2_dq[15]" SITE "116" ;
LOCATE COMP "ddr2_dq[16]" SITE "180" ;
LOCATE COMP "ddr2_dq[17]" SITE "179" ;
LOCATE COMP "ddr2_dq[18]" SITE "178" ;
LOCATE COMP "ddr2_dq[19]" SITE "177" ;
LOCATE COMP "ddr2_dq[20]" SITE "176" ;
LOCATE COMP "ddr2_dq[21]" SITE "175" ;
LOCATE COMP "ddr2_dq[30]" SITE "86" ;
LOCATE COMP "ddr2_odt0" SITE "163" ;
LOCATE COMP "ddr2_odt1" SITE "150" ;
LOCATE COMP "ddr2_scl" SITE "94" ;
LOCATE COMP "ddr2_sda" SITE "101" ;
LOCATE COMP "eeprom_cclk" SITE "17" ;
LOCATE COMP "eeprom_cs" SITE "13" ;
LOCATE COMP "eeprom_so" SITE "19" ;
LOCATE COMP "eth_txd[0]" SITE "35" ;
LOCATE COMP "eth_txd[1]" SITE "34" ;
LOCATE COMP "eth_txd[2]" SITE "33" ;
LOCATE COMP "eth_txd[3]" SITE "31" ;
LOCATE COMP "led[0]" SITE "202" ;
LOCATE COMP "led[1]" SITE "201" ;
LOCATE COMP "led[2]" SITE "197" ;
LOCATE COMP "led[3]" SITE "198" ;
LOCATE COMP "led[4]" SITE "1" ;
LOCATE COMP "led[5]" SITE "2" ;
LOCATE COMP "led[6]" SITE "6" ;
LOCATE COMP "led[7]" SITE "7" ;
LOCATE COMP "ddr2_dq[31]" SITE "85" ;
